<!-- search bar -->
<div class="container search-bar">
  <div class="search-bar-outer">
    <div class="search-bar-inner">
      <form action="/search">
        <h4 class="mb-2">尋找餐廳：</h4>
        <div class="input-group">
          <input type="text" name="keyword" class="form-control" placeholder="輸入餐廳、分類" aria-label="Restaurant Name..."
            value="" aria-describedby="search-button">
          <div class="input-group-append">
            <button class="btn btn-major" type="submit" id="search-button"><i class="fas fa-search"></i></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>





<!-- restaurant list -->
<div class="container mt-5 px-5">
  <div class="d-flex align-items-center justify-content-between mb-3">
    {{!-- create new --}}
    <a href="/lists/new" class="btn btn-major" id="creare-btn"><i class="fa-solid fa-plus"></i> 新增餐廳</a>

    {{!-- sort --}}
    <div class="d-flex align-items-center">
      <i class="fa-solid fa-sort text-secondary me-2"></i>
      <i class="fa-solid fa-arrow-up-arrow-down text-secondary"></i>
      <form action="./sortby" method="GET" id="sortby">
        <select onchange="this.form.submit()" class="form-select" name="sort" form="sortby">
          <option selected>選擇排序</option>
          <option value="name">A -> Z</option>
          <option value="name-deasc">Z -> A</option>
          <option value="category">類別</option>
          <option value="location">地區</option>
        </select>
      </form>
    </div>

  </div>

  {{!-- display restaurant lists --}}
  <div class="row">
    {{#each lists}}
    <div class="col col-md-4">
      <a href="./lists/{{this._id}}" class="text-secondary">
        <div class="card mb-3">
          <img class="card-img-top img-fluid" src="{{this.image}}" alt="{{this.name}}">
          <div class="card-body p-3">
            <h6 class="card-title mb-1">{{this.name}}</h6>

            <div class="restaurant-category mb-1">
              <i class="fas fa-utensils pr-2"></i> {{this.category}}
            </div>

            <span class="badge rounded-pill bg-danger font-weight-normal">{{this.rating}}<i
                class="fas fa-star fa-xs"></i>
            </span>

          </div>
        </div>
      </a>

      {{!-- button icon --}}
      <div class="text-end mb-5">
        {{!-- edit --}}
        <a href="./lists/{{ this._id }}/edit" class="btn btn-outline-secondary btn-sm"><i
            class="fa-solid fa-pen-to-square"></i></a>
        {{!-- detail --}}
        <a href="./lists/{{ this._id }}" class="btn btn-outline-secondary btn-sm"><i class="fas fa-search"></i></a>
        {{!-- delete --}}
        <form action="./lists/{{ this._id }}?_method=DELETE" method="POST" style="display: inline;">
          <button type="submit" class="btn btn-outline-danger btn-sm"><i class="fa-solid fa-trash"></i></button>
        </form>
      </div>

    </div>
    {{/each}}

  </div>
</div>
</div>